*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    padding: 20px .635rem;
    align-items: center;
}

header a{
    text-decoration: none;
    color: black;
}

.navbar{
    display: flex;
    list-style: none;
    gap: 1.25rem;
}

.navbar li a{
    text-decoration: none;
    font-size: 1.5625rem;
}

@media (max-width:1024px){
    header{
        background-color: red;
    }
}

@media (max-width:768px){
    header{
        flex-direction: column;
        background-color: black;
    }

    header a{
        color: white;
        font-style: italic;
        font-size: 25px;
    }

    .principal{
        height: 15.625rem;
        background-position: center;
        background-size: cover;
    }

    .principal div {
        color: pink;
        text-align: center;
    }
}

