*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    display: grid;
    width: 100%;
    height: 100vh;
    /*grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(4, 1fr);*/
    grid-template: repeat(4, 100px)/ repeat(4,100px);
    grid-template-areas:
    "section-1 section-1 section-1 section-5"
    "section-2 section-2 section-5"
    "section-2 section-2 section-4 section-5"
    "section-2 section-2 section-4 section-5";
    row-gap: 10px;
    column-gap: 20px;
}

.section-1{
    background-color: rgb(149, 228, 228);
    grid-area: section-1 ;
}
.section-2{
    background-color: rgb(208, 173, 107);
    grid-area: section-2;
}
.section-3{
    background-color: rgb(5, 87, 87);
    grid-area: section-3;
}
.section-4{
    background-color: rgb(243, 149, 206);
    grid-area: section-4;
}
.section-5{
    background-color: rgb(148, 239, 172);
    grid-area: section-5;
}

