@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding-bottom: 1px;
    margin-bottom:1px;
    
}
.logo{
    width: 130px;
    height: 100px;    
    padding: 10px;

}

.nav-bar {
    background: #fff;
    display: flex;
    position: fixed;
    width: 100%;
    height: 20%;
    z-index: 999;
    text-align: center;

}

ul {
    list-style: none;
}    

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 32px 6px;
    color: #2a1e1e;
    text-decoration: none;
    text-align: center;
    font-size: 32px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: white;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #d4cfff;
}

ul li:hover ul.dropdown {
    display: block;
    padding-left: 1px;
}

.b-busca{
    background-color: white;
}

.nav-items{
    width: 40%;
    z-index: 999;
    position: fixed;
    font-size: 55px;
    font-weight: 500;
    background-color: white;
} 

.search{
    width: 780px;
    display: flex;
    margin-left: 20px;
    height: 84px;
    padding-top: 30px;
}

.search-box{
    width: 70%;
    height: 55px;
    padding: 20px;
    border-top-left-radius:120px;
    border-bottom-left-radius: 120px;
    text-transform: capitalize;
    border: 1px solid black;
    background: none;
    color: #090000;
    outline: none;
    font-size: 19px;
}

.search-btn{
    width: 15%;
    height: 55px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
}

search-box::placeholder{
    color: #383838;
    font-size: 22px;
} 

.iconos{
    display: flex;
    margin-left: 715px;
    gap: 25px;
    padding-top: 50px;
    width: 300px;
    font-size: 20px;
}

#slider{
    margin: 0 auto;
    width: 1900px;
    max-width: 100%;
    text-align: center;
    padding-top: 190px;
}

#slider input[type=radio] {
    display: none;
}

#slider label{
    cursor: pointer;
    text-decoration: none;
}

#slides{
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    z-index: 1;
}

#overflow{
    width: 100%;
    overflow: hidden;
}

#slide1:checked ~ #slides .inner {
    margin-left: 0;
}
#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
    margin-left: -300%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
}

#slides .slide {
    width: 25%;
    float: left;
    display: block;
    height: 100%;
    color: #fff;
}

#slides .slide_1 {
    background: #00171f;
}
#slides .slide_2 {
    background: #003459;
}
#slides .slide_3 {
    background: #007EA7;
}
#slides .slide_4 {
    background: #00A8E8;
}

.slide-content{
    padding: 140px;
    
}

#controls{
    margin: -130px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controls label:hover {
    opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
    background: 
    url(https://cdn-icons-png.flaticon.com/512/271/271226.png) no-repeat;
    float: right;
    margin: 0 -50px 0 0 ;
    display: block;

}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
    background: 
    url(https://cdn-icons-png.flaticon.com/512/507/507257.png) no-repeat;
    float: left;
    margin: 0 0 0 -50px ;
    display: block;
}

#bullets{
    margin: 100px 0 0;
    text-align: center;
}

#bullets label{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4){
    background-color: #444;
}



h1{
    text-align: center;
    margin-top: 40px;
}

h2{
    text-align: center;
    font-size: 25px;
}

h3{
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
}

.icono-grid {
    margin-top: 20px;
}

.listas{
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;
}

.listas p{
    margin-top: 10px;
}


.prueba{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4,150px);
    padding-top: 40px;
    margin: 30px;
}

.prueba .grid-1{
    grid-column: 1/2;
    grid-row: 1/4;
    width: 98%;
    height: 95%;
    background: rgb(142, 142, 240);
    text-align: center;
}


.prueba .grid-2{
    grid-column: 2/5;
    grid-row: 1/4;
}

.prueba .grid-2 img{
    width: 100%;
    height: 98%;
    object-fit: cover;
    align-items: center;
}

.prueba .grid-3{
    grid-column: 5/6;
    grid-row: 1/4;
    height: 95%;
    width: 97%;
    background: green;
    text-align: center;
} 

.prueba .grid-4{
    grid-column: 6/9;
    grid-row: 1/4;
}

.prueba .grid-4 img{
    width: 100%;
    height: 95%;
    align-items: center;
}

.prueba .grid-5{
    grid-column: 1/2;
    grid-row: 4/7;
    background: #007EA7;
    width: 98%;
    font-size: 22px;
    text-align: center;
}

.prueba .grid-6{
    grid-column: 2/5;
    grid-row: 4/7;
}

.prueba .grid-6 img{
    width: 99%;
    height: 100%;
}
.prueba .grid-7{
    grid-column: 5/6;
    grid-row: 4/7;
    background: yellow;
    width: 98%;
    font-size: 22px;
    text-align: center;
}
.prueba .grid-8{
    grid-column: 6/9;
    grid-row: 4/9;
}  

.prueba .grid-8 img{
    width: 100%;
    height: 100%;
}

.carrousel{
    margin-top: 40px;
    height: 350px;
    background-color: #fff;
    text-align: center;
    font-size: 22px;

}

.color{
    background-color: pink;
}
.product-category{
    font-size: 60px;
    width: 30%;
    z-index: 999;
    position: fixed;
    font-weight: 500;
    text-align: center;
    margin-top: 90px;
    margin-left: 460px;
    background: #fff;
    text-transform: uppercase;
}

.body-card{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: 100%;
    padding-top: 180px;
    align-items: center;
    justify-items: center;
}

.product-card{
    position: relative;
    max-width: 250px;
    width: 100%;
    border-radius: 35px;
    padding: 20px 30px 30px 30px;
    background-color: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    z-index: 3;
    overflow: hidden;
    margin: 20px;
    text-transform: uppercase;
}
.product-card .logo-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-card .logo-card img{
    height: 40px;
    width: 80px;
    object-fit: cover;
}
.product-card .logo-card i{
    font-size: 27px;
    color: #707070;
    cursor: pointer;
    transition: color 0.3s ease; 
}

.product-thumb{
    margin-left: -10px;
    width: 100%;
    height: 280px;
}
.product-info{
    text-align: center;

}
.product-short-des{
    font-size: 30px;
    text-align: center;
}

.price{
    font-size: 50px;
    color: red;
    align-items: center;
}

.extra-info{
    font-size: 25px;
    text-align: center;
}


.grid-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,110px);
    border: 1px solid;
    background-color: #fff;
}

.grid-f-1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.grid-f-2{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.grid-f-3{
    text-align: center;
    margin-top: 45px;
    font-size: 25px;
}


/* MEDIAQUERIES DESKTOP - TABLET- MOBILE */

/* TABLET */
@media(max-width: 1180px){
    *{
        margin: 0;
        padding-bottom: 1px;
        
    }
    .logo{
        width: 160px;
        height: 100px;
        padding: 10px;
    }
    
    .nav-bar {
        list-style: none;
        background: #fff;
        display: flex;
        position: fixed;
        width: 100%;
        height: 10%;
        z-index: 999;
        position: fixed;
        text-align: center;
    }
    
    ul {
        list-style: none;
    }    
    
    ul li {
        display: inline-block;
        position: relative;
    }
    
    ul li a {
        display: block;
        padding: 32px 16px;
        color: #2a1e1e;
        text-decoration: none;
        text-align: center;
        font-size: 32px;
    }
    
    ul li ul.dropdown li {
        display: block;
    }
    
    ul li ul.dropdown {
        width: 100%;
        background: white;
        position: absolute;
        z-index: 999;
        display: none;
    }
    
    ul li a:hover {
        background: #d4cfff;
    }
    
    ul li:hover ul.dropdown {
        display: block;
    }
    .b-busca{
        background-color: #fff;
    }

    .nav-items{
        width: 0%;
        z-index: 999;
        position: fixed;
        font-size: 55px;
        font-weight: 500;
        background-color: yellow;
        height: 20px;
    } 
    .product-category{
        font-size: 0px;
        width: 0%;
        z-index: 999;
        position: fixed;
        font-weight: 500;
        margin-top: 162px;
        margin-right: 20px;
        text-align: center;
        background: red;
    }

    .search{
        width: 940px;
        display: flex;
        height: 84px;
        padding-top:40px;

    }
    
    .search-box{
        width: 25%;
        height: 55px;
        padding: 10px;
        border-top-left-radius:120px;
        border-bottom-left-radius: 120px;
        text-transform: capitalize;
        border: 1px solid black;
        background: none;
        color: #090000;
        outline: none;
        font-size: 19px;
    }
    
    .search-btn{
        width: 10%;
        height: 55px;
        padding: 10px 20px;
        border: none;
        outline: none;
        cursor: pointer;
        background: #383838;
        color: #fff;
        text-transform: capitalize;
        font-size: 15px;
        border-top-right-radius: 90px;
        border-bottom-right-radius: 90px;
    }
    
    search-box::placeholder{
        color: #383838;
        font-size: 2px;
    } 

    .prueba{
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(12,150px);
        padding-top: 40px;
        margin: 30px;
    }
    
    .prueba .grid-1{
        grid-column: 1/3;
        grid-row: 1/4;
        width: 100%;
        height: 100%;
        background: rgb(142, 142, 240);
        text-align: center;
    }
    
    
    .prueba .grid-2{
        grid-column: 3/9;
        grid-row: 1/4;
    }
    
    .prueba .grid-2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        align-items: center;
    }
    
    .prueba .grid-3{
        grid-column: 7/9;
        grid-row: 4/7;
        height: 100%;
        width: 100%;
        background: green;
        text-align: center;
    } 
    
    .prueba .grid-4{
        grid-column: 1/7;
        grid-row: 7/4;
    }
    
    .prueba .grid-4 img{
        width: 100%;
        height: 100%;
        align-items: center;
    }
    
    .prueba .grid-5{
        grid-column: 3/1;
        grid-row: 7/10;
        background: #007EA7;
        width: 100%;
        font-size: 22px;
        text-align: center;
    }
    
    .prueba .grid-6{
        grid-column: 3/9;
        grid-row: 7/10;
    }
    
    .prueba .grid-6 img{
        width: 100%;
        height: 100%;
    }
    .prueba .grid-7{
        grid-column: 7/9;
        grid-row: 10/14;
        background: yellow;
        width: 100%;
        font-size: 22px;
        text-align: center;
    }
    .prueba .grid-8{
        grid-column: 1/7;
        grid-row: 10/14;
    }  
    
    .prueba .grid-8 img{
        width: 100%;
        height: 100%;
    }

    .product-category{
        font-size: 0px;
        margin-left: 0px;
    }

    .body-card{
        display: flex;
        flex-wrap: wrap;
        margin: -1px;
        width: 100%;
        padding: 35px;
        padding-top: 150px;
        align-items: center;
        justify-items: center;
    }
    
    .product-card{
        position: relative;
        max-width: 270px;
        width: 100%;
        border-radius: 35px;
        padding: 20px 30px 30px 30px;
        background-color: white;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
        z-index: 3;
        overflow: hidden;
        margin: 25px;
        text-transform: uppercase;
    }
    .product-card .logo-card{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .product-card .logo-card img{
        height: 40px;
        width: 80px;
        object-fit: cover;
    }
    .product-card .logo-card i{
        font-size: 27px;
        color: #707070;
        cursor: pointer;
        transition: color 0.3s ease; 
    }
    
    .product-thumb{
        margin-left: -10px;
        width: 100%;
        height: 280px;
    }
    .product-info{
        text-align: center;
    
    }
    .product-short-des{
        font-size: 30px;
        text-align: center;
    }
    
    .price{
        font-size: 50px;
        color: red;
        align-items: center;
    }
    
    .extra-info{
        font-size: 25px;
        text-align: center;
    }
    
    
    .grid-footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,150px);
        border: 1px solid;
        background-color: #fff;
    }
    
    .grid-f-1 img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .grid-f-2{
        text-align: center;
        font-size: 25px;
        margin-top: 20px;
    }
    
    .grid-f-3{
        text-align: center;
        margin-top: 45px;
        font-size: 20px;
    }    
}
    
/* MEDIAQUERIES DESKTOP - TABLET- MOBILE */

/* MOBILE */
@media(max-width: 896px){
    *{
        margin: 0;
        padding-bottom: 1px;
        
    }
    .logo{
        width: 160px;
        height: 90px;
        padding: 10px;
    }
    
    .nav-bar {
        list-style: none;
        background: #fff;
        display: flex;
        position: fixed;
        width: 100%;
        height: 15%;
        z-index: 999;
        text-align: center;
    }
    
    ul {
        list-style: none;
    }    
    
    ul li {
        display: inline-block;
        position: relative;
        padding: 3px 1px;
    }
    
    ul li a {
        display: block;
        padding: 29px 6px;
        color: #2a1e1e;
        text-decoration: none;
        text-align: center;
        font-size: 23px;
    }
    
    ul li ul.dropdown li {
        display: block;
    }
    
    ul li ul.dropdown {
        width: 100%;
        background: white;
        position: absolute;
        z-index: 999;
        display: none;
    }
    
    ul li a:hover {
        background: #d4cfff;
    }
    
    ul li:hover ul.dropdown {
        display: block;
    }
    .b-busca{
        background-color: #fff;
    }

    .nav-items{
        width: 0%;
        z-index: 999;
        position: fixed;
        font-size: 55px;
        font-weight: 500;
        background-color: yellow;
        height: 2px;
    } 
    .product-category{
        font-size: 0px;
        width: 0%;
        z-index: 999;
        position: fixed;
        font-weight: 500;
        margin-top: 162px;
        margin-right: 20px;
        text-align: center;
        background: red;
    }

    .search{
        width: 0px;
        display: flex;
        height: 84px;
        padding-top:40px;

    }
    
    .search-box{
        width: 0%;
        height: 0px;
        padding: 0px;
        border-top-left-radius:120px;
        border-bottom-left-radius: 120px;
        text-transform: capitalize;
        border: 1px solid black;
        background: none;
        color: #090000;
        outline: none;
        font-size: 19px;
    }
    
    .search-btn{
        width: 0%;
        height: 0px;
        padding:0px 0px;
        border: none;
        outline: none;
        cursor: pointer;
        background: #383838;
        color: #fff;
        text-transform: capitalize;
        font-size: 15px;
        border-top-right-radius: 90px;
        border-bottom-right-radius: 90px;
    }
    
    search-box::placeholder{
        color: #383838;
        font-size: 2px;
    } 

    .prueba{
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(16,150px);
        padding-top: 20px;
        margin: 30px;
    }
    
    .prueba .grid-1{
        grid-column: 1/9;
        grid-row: 1/3;
        width: 100%;
        height: 100%;
        background: rgb(142, 142, 240);
        text-align: center;
        font-size: 12px;
    }
    
    
    .prueba .grid-2{
        grid-column: 1/9;
        grid-row: 3/5;
    }
    
    .prueba .grid-2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        align-items: center;
    }
    
    .prueba .grid-3{
        grid-column: 1/9;
        grid-row: 5/7;
        height: 100%;
        width: 100%;
        background: green;
        text-align: center;
    } 
    
    .prueba .grid-4{
        grid-column: 1/9;
        grid-row: 7/9;
    }
    
    .prueba .grid-4 img{
        width: 100%;
        height: 100%;
        align-items: center;
    }
    
    .prueba .grid-5{
        grid-column: 1/9;
        grid-row: 9/11;
        background: #007EA7;
        width: 100%;
        font-size: 22px;
        text-align: center;
    }
    
    .prueba .grid-6{
        grid-column: 1/9;
        grid-row: 11/13;
    }
    
    .prueba .grid-6 img{
        width: 100%;
        height: 100%;
    }
    .prueba .grid-7{
        grid-column: 1/9;
        grid-row: 13/15;
        background: yellow;
        width: 100%;
        font-size: 11px;
        text-align: center;
    }
    .prueba .grid-8{
        grid-column: 1/9;
        grid-row: 15/17;
    }  
    
    .prueba .grid-8 img{
        width: 100%;
        height: 100%;
    }

    .product-category{
        font-size: 0px;
        margin-left: 0px;
    }

    .body-card{
        display: flex;
        flex-wrap: wrap;
        margin: 3px;
        width: 100%;
        padding: 25px;
        padding-top: 150px;
        align-items: center;
        justify-items: center;
    }
    
    .product-card{
        position: relative;
        max-width: 100px;
        width: 100%;
        border-radius: 35px;
        padding: 10px 30px 30px 30px;
        background-color: white;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
        z-index: 3;
        overflow: hidden;
        margin: 12px;
        text-transform: uppercase;
    }
    .product-card .logo-card{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .product-card .logo-card img{
        height: 40px;
        width: 80px;
        object-fit: cover;
    }
    .product-card .logo-card i{
        font-size: 27px;
        color: #707070;
        cursor: pointer;
        transition: color 0.3s ease; 
    }
    
    .product-thumb{
        margin-left: -2px;
        width: 100%;
        height: 230px;
        object-fit: cover;
    }
    .product-info{
        text-align: center;
    
    }
    .product-short-des{
        font-size: 16px;
        text-align: center;
    }
    
    .price{
        font-size: 30px;
        color: red;
        align-items: center;
    }
    
    .extra-info{
        font-size: 20px;
        text-align: center;
    }
    
    
    .grid-footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,250px);
        background-color: #fff;
        border: 0px solid;
    }
    
    .grid-f-1 img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .grid-f-2{
        text-align: center;
        font-size: 20px;
        margin-top: 80px;
    }
    
    .grid-f-3{
        text-align: center;
        margin-top: 120px;
        font-size: 20px;
    }
    
}










